* {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  font-size: 36px;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  min-height: 100vh;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/public/dark_gray.jpg");
 

  
}

ul, .text-center{
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 30px;
  margin: 20px;
  padding: 0px;
  align-items: center;
  text-align: center;

  
}
.my-title, .welcome_page, .error_page, .error_message, .title, .error_fallback{
  color: #c8bfbf;
  font-size: 35px;
  text-align: center;
}

.card {
  min-width: 250px;
  height: 60vh;
  padding: 2px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 5px;
  background-color: #faf6f6;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
 
}

.buttons {
  display: flex;
  flex-direction: column;
  height: 20vh;
}

.display-count {
  height: 20vh;
  font-size: 100px;
}

/* media queries code */
@media screen and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  h1, .error_page, .error_message, .welcome_page {
    font-size: 40px;
  }

  ul,.error_message, .welcome_page{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 30px;
    margin: 20px;
    padding: 0px;
    align-items: center;
    text-align: center;

  }

  .error_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 30px;
  }
  .card {
    min-width: 250px;
    height: 60vh;
  }

  .title {
    display: flex;
    justify-content: center;

  }
  .display-count {
    font-size: 50px;
    height: 15vh;
  }

  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
   
  }

  .buttons {
    display: flex;
    flex-direction: column;
    height: 20vh;
  }
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
   

  }

  h1, .error_page, .error_message, .welcome_page {
    font-size: 20px;
  }

  ul,.error_message, .welcome_page{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 15px;
    margin: 20px;
    padding: 0px;
    align-items: center;
    text-align: center;

  }

  .error_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .card {
    min-width: 250px;
    height: 45vh;
  }

  .title {
    display: flex;
    justify-content: center;

  }
  .display-count {
    font-size: 50px;
    height: 10vh;
  }

  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
   
  }

  .buttons {
    display: flex;
    flex-direction: column;
    height: 20vh;
  }
}

@media screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
   

  }

  h1, .error_page, .error_message, .welcome_page {
    font-size: 25px;
  }

  ul, .error_page, .error_message, .welcome_page{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 25px;
    margin: 0px;
    padding: 20px;
    align-items: center;

  }
  .card {
    min-width: 250px;
    height: 40vh;
  }

  .title {
    display: flex;
    justify-content: center;
  }
  .display-count {
    font-size: 50px;
    height: 10vh;
  }

  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
   
  }

  .buttons {
    display: flex;
    flex-direction: column;
    height: 20vh;
  }
}

